.build/
.swiftpm/
xtool/**
!xtool/deploy.sh
!xtool/gen-appintents-metadata.sh
!xtool/Metadata.appintents
!xtool/Metadata.appintents/**
.devcontainer/
.vscode/
discordbot/
changelog/
# full res sources
img/*.png